/* Hack to fix navbar-fixed-top problems 
   http://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site
*/
body {
    padding-top: 50px; /* navbar has 50px height */
}

/* Collapsible Panels */
.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

/* Start of own stuff */

.toggle.btn{
    min-width: 59px;
    min-height: 23px !important;
}

.artificial-row {
    margin-bottom: 5px;
}

.number-input {
    margin-right: 30px;
}

.input-label {
    margin-right: 20px;
}

label {
    display: inline-block;
    float: middle;
    clear: left;
    text-align: right;
}

input {
  display: inline-block;
  float: middle;
}
