<div class="form-group" id="cannot-accept">
    <div class="artificial-row">
        <!-- Class is or CSS use --><!--First Row-->
        <input type="checkbox" data-toggle="toggle" data-on="DOB" data-off="DOB" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="ADD" data-off="ADD" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="PayPal" data-off="PayPal" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="Card" data-off="Card" data-size="mini">
        <input type="text" class="form-inline" placeholder="Card #" value="">
        <input type="checkbox" data-toggle="toggle" data-on="POP" data-off="POP" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="3P" data-off="3P" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="Recent" data-off="Recent" data-size="mini">
        <input type="date" class="form-inline">
    </div>
    <div class="artificial-row">
        <!--2nd Row-->
        <input type="checkbox" data-toggle="toggle" data-on="Name Change" data-off="Name Change" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="ADD Change" data-off="ADD Change" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="PP Trans." data-off="PP Trans." data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="3P Card" data-off="3P Card" data-size="mini">
        <input type="text" class="form-inline" placeholder="3P Card #" value="">
        <input type="checkbox" data-toggle="toggle" data-on="Payment" data-off="Payment" data-size="mini">
        <label>£</label>
        <input type="number" class="form-inline" placeholder="Amount" value="0">
    </div>
    <div class="artificial-row">
        <!--3rd Row-->
        <input type="checkbox" data-toggle="toggle" data-on="PP 3P DOB" data-off="PP 3P DOB" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="CC 3P DOB" data-off="CC 3P DOB" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="POP 3P DOB" data-off="POP 3P DOB" data-size="mini">
    </div>
    <div class="artificial-row">
        <!--4th Row-->
        <input type="checkbox" data-toggle="toggle" data-on="PP 3P ADD" data-off="PP 3P ADD" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="CC 3P ADD" data-off="CC 3P ADD" data-size="mini">
        <input type="checkbox" data-toggle="toggle" data-on="POP 3P ADD" data-off="POP 3P ADD" data-size="mini">
    </div>
</div>