<div class="artificial-row">
    <label class="checkbox-label">DOB </label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>not accepted </option>
        <option>out of date </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="DOB" data-off="DOB" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Expiry" data-off="Expiry" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="License #" data-off="License #" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Pass #" data-off="Pass #" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">Name Change </label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>not accepted </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="Name Before" data-off="Name Before" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Name After" data-off="Name After" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">ADD </label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>not accepted </option>
        <option>out of date </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Address" data-off="Address" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Logo" data-off="Logo" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Date" data-off="Date" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">ADD  Change</label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>not accepted </option>
        <option>out of date </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Address" data-off="Address" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Logo" data-off="Logo" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Date" data-off="Date" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">Paypal</label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="Full Name" data-off="Full Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Paypal Logo" data-off="Paypal Logo" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">Paypal Transaction</label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Date" data-off="Date" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Amount" data-off="Amount" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">Paypal 3p Date of Birth</label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>not accepted </option>
        <option>out of date </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="DOB" data-off="DOB" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Expiry" data-off="Expiry" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="License #" data-off="License #" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Pass #" data-off="Pass #" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">Paypal 3p Address</label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>not accepted </option>
        <option>out of date </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Address" data-off="Address" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Logo" data-off="Logo" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Date" data-off="Date" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">Card</label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="First 6" data-off="First 6" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Last 4" data-off="Last 4" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Expiry" data-off="Expiry" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">3p Card</label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="First 6" data-off="First 6" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Last 4" data-off="Last 4" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Expiry" data-off="Expiry" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">Credit Card 3p Date of Birth</label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>not accepted </option>
        <option>out of date </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="DOB" data-off="DOB" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Expiry" data-off="Expiry" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="License #" data-off="License #" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Pass #" data-off="Pass #" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">Credit Card 3p Address</label>
    <select class="selectpicker" type="form-control">
        <option></option>
        <option>blurred </option>
        <option>not accepted </option>
        <option>out of date </option>
        <option>cannot see </option>
    </select>
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Address" data-off="Address" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Logo" data-off="Logo" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Date" data-off="Date" data-size="mini">
</div>
<div class="artificial-row">
    <label class="checkbox-label">POP 3P Recent</label>
    <input type="checkbox" data-toggle="toggle" data-on="POP" data-off="POP" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="3P" data-off="3P" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Recent" data-off="Recent" data-size="mini">
    <label class="checkbox-label"> : </label>
    <input type="checkbox" data-toggle="toggle" data-on="Name" data-off="Name" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Network" data-off="Network" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Date" data-off="Date" data-size="mini">
    <input type="checkbox" data-toggle="toggle" data-on="Amount" data-off="Amount" data-size="mini">
</div>