<div class="row form-group">
    <label class="col-md-1 checkbox-label">DOB </label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="DOB" data-off="DOB"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Expiry" data-off="Expiry"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="License #" data-off="License #"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Pass #" data-off="Pass #"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">Name Change </label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name Before" data-off="Name Before"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name After" data-off="Name After"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">ADD </label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Address" data-off="Address"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Logo" data-off="Logo"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Date" data-off="Date"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">ADD  Change</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Address" data-off="Address"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Logo" data-off="Logo"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Date" data-off="Date"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">Paypal</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Full Name" data-off="Full Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Paypal Logo" data-off="Paypal Logo"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">Paypal Transaction</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Date" data-off="Date"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Amount" data-off="Amount"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">Paypal 3p Date of Birth</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="DOB" data-off="DOB"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Expiry" data-off="Expiry"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="License #" data-off="License #"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Pass #" data-off="Pass #"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">Paypal 3p Address</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Address" data-off="Address"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Logo" data-off="Logo"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Date" data-off="Date"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">Card</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="First 6" data-off="First 6"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Last 4" data-off="Last 4"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Expiry" data-off="Expiry"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">3p Card</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="First 6" data-off="First 6"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Last 4" data-off="Last 4"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Expiry" data-off="Expiry"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">Credit Card 3p Date of Birth</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="DOB" data-off="DOB"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Expiry" data-off="Expiry"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="License #" data-off="License #"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Pass #" data-off="Pass #"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">Credit Card 3p Address</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Address" data-off="Address"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Logo" data-off="Logo"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Date" data-off="Date"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">POP 3P Recent</label>
    <div class="col-md-3">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="POP" data-off="POP"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="3P" data-off="3P"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Recent" data-off="Recent"></toggle>
    </div>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-6">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Network" data-off="Network"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Date" data-off="Date"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Amount" data-off="Amount"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">Payment</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Network" data-off="Network"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Date" data-off="Date"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Indebting Balance" data-off="Indebting Balance"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">POP 3P DOB</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="DOB" data-off="DOB"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Date" data-off="Date"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Expiry" data-off="Expiry"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="License #" data-off="License #"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Pass #" data-off="Pass #"></toggle>
    </div>
</div>
<div class="row form-group">
    <label class="col-md-1 checkbox-label">POP 3P ADD</label>
    <div class="col-md-2">
        <select class="form-control selectpicker" type="form-control">
            <option></option>
            <option>blurred </option>
            <option>not accepted </option>
            <option>out of date </option>
            <option>cannot see </option>
        </select>
    </div>
    <div class="col-md-9">
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Name" data-off="Name"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Address" data-off="Address"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Logo" data-off="Logo"></toggle>
        <toggle ng-model="cannotAcceptReasons" ng-change="changed()" data-on="Date" data-off="Date"></toggle>
    </div>
</div>
