<div class="form-group form-inline" id="received">
    <div class="artificial-row">
        <!-- Class is or CSS use -->
        <!--First Row-->
        <toggle ng-model="toggleValue" ng-change="changed()" on="Enabled" off="Disabled"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="DOB" off="DOB" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="ADD" off="ADD" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="PayPal" off="PayPal" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="Card" off="Card" data-size="mini"></toggle>
        <input type="text" class="form-control" placeholder="Card #" value="">
        <toggle ng-model="toggleValue" ng-change="changed()" on="POP" off="POP" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="3P" off="3P" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="Recent" off="Recent" data-size="mini"></toggle>
        <input type="date" class="form-control">
    </div>
    <div class="artificial-row">
        <!--2nd Row-->
        <toggle ng-model="toggleValue" ng-change="changed()" on="Name Change" off="Name Change" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="ADD Change" off="ADD Change" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="PP Trans." off="PP Trans." data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="3P Card" off="3P Card" data-size="mini"></toggle>
        <input type="text" class="form-control" placeholder="3P Card #" value="">
        <toggle ng-model="toggleValue" ng-change="changed()" on="Payment" off="Payment" data-size="mini"></toggle>
        <div class="input-group">
            <span class="input-group-addon">&#163;</span>
            <input class="form-control" aria-label="Amount (to the nearest pound)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="artificial-row">
        <!--3rd Row-->
        <toggle ng-model="toggleValue" ng-change="changed()" on="PP 3P DOB" off="PP 3P DOB" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="CC 3P DOB" off="CC 3P DOB" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="POP 3P DOB" off="POP 3P DOB" data-size="mini"></toggle>
    </div>
    <div class="artificial-row">
        <!--4th Row-->
        <toggle ng-model="toggleValue" ng-change="changed()" on="PP 3P ADD" off="PP 3P ADD" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="CC 3P ADD" off="CC 3P ADD" data-size="mini"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="POP 3P ADD" off="POP 3P ADD" data-size="mini"></toggle>
    </div>
</div>