<div class="form-group form-inline" id="received">
    <div class="artificial-row">
        <!-- Class is or CSS use -->
        <!--First Row-->
        <toggle ng-model="email.received.dob.selected" ng-change="changed()" on="DOB" off="DOB"></toggle>
        <toggle ng-model="email.received.add.selected" ng-change="changed()" on="ADD" off="ADD"></toggle>
        <toggle ng-model="email.received.paypal.selected" ng-change="changed()" on="PayPal" off="PayPal"></toggle>
        <toggle ng-model="email.received.card.selected" ng-change="changed()" on="Card" off="Card"></toggle>
        <input  ng-model="email.received.cardNumber" type="number" max="9999" class="form-control" placeholder="Card #" />
        <toggle ng-model="email.received.pop.selected" ng-change="changed()" on="POP" off="POP"></toggle>
        <toggle ng-model="email.received.thirdParty.selected" ng-change="changed()" on="3P" off="3P"></toggle>
        <input  ng-model="email.received.date" type="date" class="form-control" />
    </div>
    <div class="artificial-row">
        <!--2nd Row-->
        <toggle ng-model="email.received.nameChange.selected" ng-change="changed()" on="Name Change" off="Name Change"></toggle>
        <toggle ng-model="email.received.addChange.selected" ng-change="changed()" on="ADD Change" off="ADD Change"></toggle>
        <toggle ng-model="email.received.ppTrans.selected" ng-change="changed()" on="PP Trans." off="PP Trans."></toggle>
        <toggle ng-model="email.received.thirdPartyCard.selected" ng-change="changed()" on="3P Card" off="3P Card"></toggle>
        <input  ng-model="email.received.thirdPartyCardNumber" type="number" max="9999" class="form-control" placeholder="3P Card #" />
        <toggle ng-model="email.received.payment.selected" ng-change="changed()" on="Payment" off="Payment"></toggle>
        <div class="input-group">
            <span class="input-group-addon">&#163;</span>
            <input ng-model="email.received.paymentValue" class="form-control money-input" aria-label="Amount (to the nearest pound)" />
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="artificial-row">
        <!--3rd Row-->
        <toggle ng-model="email.received.pp3pDob.selected" ng-change="changed()" on="PP 3P DOB" off="PP 3P DOB"></toggle>
        <toggle ng-model="email.received.cc3pDob.selected" ng-change="changed()" on="CC 3P DOB" off="CC 3P DOB"></toggle>
        <toggle ng-model="email.received.pop3pDob.selected" ng-change="changed()" on="POP 3P DOB" off="POP 3P DOB"></toggle>
    </div>
    <div class="artificial-row">
        <!--4th Row-->
        <toggle ng-model="email.received.pp3rdPartyAdd.selected" ng-change="changed()" on="PP 3P ADD" off="PP 3P ADD"></toggle>
        <toggle ng-model="email.received.cc3rdPartyAdd.selected" ng-change="changed()" on="CC 3P ADD" off="CC 3P ADD"></toggle>
        <toggle ng-model="email.received.pop3rdPartyAdd.selected" ng-change="changed()" on="POP 3P ADD" off="POP 3P ADD"></toggle>
    </div>
</div>
